* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

image {
    height: 100px;
    width: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.price-input {
    width: 300px;
}