<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Le Juste Prix</title>
</head>

<body>
    <h1>Le Juste Prix</h1>
    <div class="container">
        <div>Devinez le prix du jeu : {{getgamename}}</div>
        <form action="/" method="post">
            <label for='number'>Le prix est {{getgameprice}}€</label><br>
            <input type="hidden" value={{random_nb}} name="random_nb">
            <input type="text" name="number" class="form-control"><br>
            <input type="submit" value="Valider" class="btn btn-primary">
        </form>
        <div>{{response}}</div>
    </div>
</body>

</html>